.container{
    background-size: cover;
    display:grid;
    justify-content: center;
}
.heading-title{
    margin-top: 10px;
    text-align: center;
    color:rgb(246, 254, 7);
    background-color: black;
    text-transform:uppercase;
    font-size: 35px;
    font-weight: 300;
    margin: 2%;
}
.info p{
    color:beige;
    background-color: rgb(131, 131, 217);
    margin:2%;
    font-size: 25px;
}
.table-div{
    margin-left: 20px;
    display:flexbox;
    padding: 3%;
}
.cart{
    position:relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    list-style-type: none;
    color: rgb(3, 109, 74);
}
.table{
    display:grid;
    justify-content: center;
    background-color: rgb(250, 217, 226);
}